body{
    margin: 0;
}
/*-----------------------------------------Title----------------------------*/
.nav{
    padding: 0px;
    width: 100%;
    display: flex;
}

p{
    padding-left: 13px;
    padding-right: 10px;
    margin-top: 3px;
    margin-bottom: 2px;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

.showcase{
    background-image: linear-gradient(to right, #0D00FF, black);
    
}

hr{
    margin-top: 20px;
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px black;
}

.title{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    font-family: 'Gayathri', sans-serif;
    font-size: 30px;
    width: 100%;
    color: #FFFBF3;
}

@media only screen and (min-width: 768px){
    .title{
        font-size: 50px;
    }
}


.navLinks li{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    font-size: 18px;
    min-width: max-content;
}

@media only screen and (min-width: 768px){
    .navLinks li{
        font-size: 22px;
        /* margin-right: 100%; */
    }
}


a:link{
    color: rgb(238, 207, 144);
}

a:visited{
    color: #ff9c32;
}

.navLinks{
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media only screen and (min-width: 768px){
    .navLinks{
        display: inline-flex;
    }
}

.contactInfo, .portfolioLink{
    margin: 0 0 6px 0;
}

@media only screen and (min-width: 768px){
    .contactInfo{
        min-width: max-content;
        margin-left: 50%
    }

    /* .skills{
        margin-left: 117%;
    }

    .portfolioLink{
        margin-left: 44%;
    }

    .bioLink{
        margin-left: 199%
    } */

    
}


.menuLeft{
    display: inline-block;
    width: 49%;
}


.menuRight{
    display: inline-block;
    width: 49%; 
    flex-grow: 2;
} 

.menuRight{
    margin-left: 8%;
}


/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------Contact Info----------------------------------------------------------------*/

.portrait{
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgb(0, 0, 138), rgb(27, 216, 143))1 100%;
    
}

/* .mail:link{
    border: blue 2px dotted;
    border-radius: 50%;

} */

.contactLinks, .appLinks{
    /* border: solid black 2px; */
    height: 20px;
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
}

.contactLinks, li{
    justify-content: space-around; 
}

.appLinks, li{
    justify-content: space-around;

}


.name, .projectTitle{
    font-size: 26px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
}


.headliner{
    margin-bottom: 5px;
}

.linkImg,.startApp, .gitHub{
    height: 25px;
    width: 25px;
    /* margin: 1px; */
}
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------Skills------------------------------------------*/

.jsLogo{
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
}
/*-------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------Bio--------------------------------------------*/
.bioTitle{
    text-align: center;
    margin-bottom: 0;
    font-family: 'Cinzel', serif;
}

.capB{
    font-size: 60px;
    font-family: 'Ubuntu', sans-serif;
    
}
/*------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------Portfolio----------------------------------------------*/
.portfolioTitle{
    text-align: center;
    margin-bottom: 0;
    font-family: 'Cinzel', serif;
    font-size: 30px;
    margin-top: 3px;
}

.projectTitle{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Aclonica', sans-serif;
    background-image: linear-gradient( rgb(194, 191, 182) , white) 
}

.appDescript{
    padding-top: 12px;
    margin-bottom: 10px;
}

.destinyQuiz{
    height: 125px;
    width: 150px;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 8px groove red;
}

.portfolioLogo{
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 120px;
}

.appLinks{
    margin-bottom: 18px;
}