/*-----------------------------------------TItle----------------------------*/
.nav{
    padding: 0px;
}

.title{
    text-align: center;
}

.navLinks li{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.contactInfo{
    margin: 0 0 20px 0;
}

.portfolio{
    margin: 0 0 20px 0;
}

.menuLeft{
    display: inline-block;
    width: 49%;
}

.menuRight{
    display: inline-block;
    width: 49%; 
}
/*----------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------Contact Info----------------------------------------------------------------*/

.portrait{
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgb(0, 0, 138), rgb(27, 216, 143))1 100%
}

.name{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.headliner{
    text-align: center;
    margin-top: 3px;
}